
<div class="change-color" data-color="blue">
    <h1>You have got a new message</h1>
</div>
@*2:35*@
<div class="change-color" data-color="yellow">
    <h1 class="grow">GROW</h1>
    <p class="left-right"> OOOIIIOOI OOOIIIIO IIIIIIOOO IIIOOOO OOOIIIOOI  OOOIIIIOO OOOOIIII OOOOOIIII OOOIIIIOO OIOIIIO OOOIIIOOI OOOIIIIO IIIIIIOOO IIIIIIOOO IIIOOOO OOOIIIOOI OIOIIIO OOOIIIOOI OOOIIIIOO OOOOIIII IIIOOOO OOOIIIOOI  OOOIIIIOO OOOOIIII OOOOOIIII OOOIIIIOO OIOIIIO OOOIIIOOI OOOIIIIO IIIIIIOOO IIIIIIOOO</p>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/custom.js"></script>
